*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bg-color: #0e0e0e;
    --card-bg: #161616;
    --text-primary: #ffffff;
    --text-secondary: #b5b5b5; 
    --accent-color: #c9a24d;   
}
body{
  font-family: 'Playfair Display', serif;
  background-color: var(--bg-color);
  color: var(--text-primary);
  line-height: 1.6;
}

.navbar{
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(26, 26, 26, 0.95);
  backdrop-filter: blur(8px);
  z-index: 1000;
}
.nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 8%;
}
.logo{
  font-size: 24px;
  font-weight: 600;
  color: var(--accent-color);
}
nav a{
  margin-left: 25px;
  text-decoration: none;
  color: var(--text-primary);
  font-size: 18px;
  transition: 0.3s;
}
nav a:hover{
  color: var(--accent-color);
}

.menu-toggle{
  display: flex;
  font-size:25px ;
  cursor: pointer;
}
@media(max-width:768px){
  nav{
    position: absolute;
    top: 60px;
    right: 8%;
    background: #000;
    padding: 15px;
    border-radius: 8px;
    display: none;
    flex-direction: column;
  }
  nav a{
    margin: 10px 0;
  }
  nav.active{
    display: flex;
  }
  .menu-toggle{
    display: block;
  }
}
   .hero {
            height: 100vh;
            background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(background_image.jpg);
            background-size: cover;
            background-position: center;
            justify-content:center ;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: white;
            text-align: center;
            margin-top: 80px;
            gap: 20px;
        }
.hero h1{
      font-size: 48px;
      letter-spacing: 2px;
}
.hero p{
     color: var(--text-secondary);
     margin: 0;
    }
.btn1{
 padding: 12px 30px;
  background: var(--accent-color);
  color:#000 ;
  cursor: pointer;
  font-weight: 600;
  margin-left: 3px;
  border-radius: 10px;
}
.btn1:hover {
  opacity: 0.9;
  transform: scale(1.05);
  transition: 0.3s;
}
.products{
  padding: 80px 8%;
  background-color: #f8f8f8;
  color: #000;
}
.products h2{
  text-align: center;
  margin-bottom: 50px;
  font-size: 48px;
  font-family: 'Playfair Display', serif;
}

.product-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(220px, 1fr));
  gap: 200px;
}
.product-card{
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  font-family: 'Playfair Display', serif;;
  transition: transform 0.3s;
}
.product-card:hover{
  transform: translateY(-8px);
}
.product-card img{
  width: 100%;
  border-radius: 8px;
}
.product-card span{
  display: block;
  margin: 10px 0;
  color: var(--accent-color);
}
.btn-outline{
  padding: 10px 20px;
  background: transparent;
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  cursor: pointer;
}
.about-content{
  display: flex;
  align-items: center;
  gap: 50px;
}
.about-img{
  flex: 1;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
.about-img img{
  width: 100%;
  height: auto;
  display: block;
}
.about-text{
  flex: 1;
}
.about-text h2{
  font-size: 2.2rem;
  margin-bottom: 20px;
}
.about-text p{
  margin-bottom: 20px;
  color: var(--text-secondary);
}
.btn2{
  background: var(--accent-color);
  color:#000 ;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
  padding: 12px 30px;
  border-radius: 10px;
}
.footer{
  
  color: white;
  padding: 60px 0 30px;
}
.footer-content {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 40px;
            margin-bottom: 40px;
            margin-left: 70px;
        }
.footer-logo{
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  font-weight: 700;
  color: var(--accent-color);
  margin-bottom: 20px;
  display: block;
}
.footer-links h3 {
            font-size: 1.3rem;
            margin-bottom: 20px;
            color: var(--accent-color);
        }
.footer-links ul{
  list-style: none;
}
.footer-links li{
  margin-bottom: 10px;
}
.footer-links a{
  color:  #ddd;
  text-decoration: none;
  transition: 0.3s;
}
.footer-links a:hover{
  color: var(--accent-color);
  padding-left: 5px;
}
        .copyright {
            text-align: center;
            padding-top: 30px;
            border-top: 1px solid rgba(255, 255, 255, 0.1);
            color: #aaa;
            font-size: 0.9rem;
        }



